.height-fix{
    position: relative;
    min-height:1000px;
    height: 0;
}
.height-fix>div{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.jumbotron{
    margin-top:3.6em;
}