<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar-wrapper navbar-default navbar-fixed-top navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Music Charts</a>
      <button type="button" class='navbar-toggle collapsed' (click)="menuCollapsed = !menuCollapsed"></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse" [collapse]='menuCollapsed'>
        <ul class="nav navbar-nav">
          <li routerLinkActive='active'>
            <a routerLink="artist">Artists</a>
          </li>
          <li routerLinkActive='active'>
            <a routerLink="track">Tracks</a>
          </li>
        </ul>
    </div>
  </div>
</nav>
<div style="text-align:center" class="jumbotron">
  <h4>Data provided by Last.FM</h4>
</div>
<div class='height-fix'>
  <div>
<router-outlet></router-outlet>
  </div>
</div>
