table{
    border-collapse: collapse;
    margin-left:20px;
}
table th{
    text-align: left;
    padding-right:80px;
}

table td{
    width:400px;
}
table td:first-child{
    width:100px;
}
.clickable:hover{
    background:aqua;
    cursor: pointer;
}
.detail>div{
    margin:10px 120px 10px 50px;
    background-color:cornsilk;
    border:solid 1px black;    
    padding:10px;    
}