<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class='jumbotron'>
  <h1>
    CISC 474 Project Showcase
  </h1>
</div>
<nav class="navbar-wrapper navbar-default navbar-static-top" role="navigation">
  <div class="container">    
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive='active'>
            <a routerLink="home">Home</a>
          </li>
          <li routerLinkActive='active'>
            <a routerLink="project1">Project 1: An HTML Game</a>
          </li>
          <li routerLinkActive='active'>
            <a routerLink="project2">Project 2: A simple Angular2 REST Client</a>
          </li>
          <li routerLinkActive='active'>
            <a routerLink="project3">Project 3: A full stack Application</a>
          </li>
        </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
