table th{
    text-align: left;
    font-size: large;
    padding-right:20px;
}


.clickable:hover{
    background:aqua;
    cursor: pointer;
}
.detail div{
    background-color:cornsilk;
    padding:0;
}