<div [hidden]="tracks.length==0">
  <h2>Top {{attributes.perPage}} Tracks on Last.FM</h2>
  <div class="container-fluid">
    <table class="table table-responsive">
      <thead>
        <th>Position</th><th>Track</th><th>Artist</th>
    </thead>
    <tbody>
    <template ngFor let-track [ngForOf]="tracks" let-index="index">
    <tr  (click)='showDetail(index,track)' class="clickable" >
      <td>
    {{index+1}}</td><td> {{track.name}}</td><td>{{track.artist.name}}</td>
    </tr>
    <tr>
      <td colspan=3 class='detail' [hidden]='index!=selectedTrack'>
        <div class="container-fluid">
        <div class='col-md-3'>
          <img src='{{track.image[2]["#text"]}}' class="img-responsive" >
          </div>  
          <div class="col-md-4">
          <h2>{{track.name}}</h2>
          <h4>Artist: {{track.artist.name}}</h4>
          <h4>PlayCount: {{track.playcount}}</h4>
          <h4><a href='{{track.url}}' target='_new'>Last.Fm Webpage</a></h4>
        </div>
      </div>
      </td>
    </tr>
  </template>
</tbody>
</table>
  <br/>&nbsp;
</div>
  </div>
  