<div class="page-header headerHighlight">
  Project 1 - An HTML Game
</div>
<div class="container">
<h4 style="text-align:center">This project involves understanding the Document Object Model (DOM) of modern browsers, and using DOM manipulation to implement a game with graphics and animation.</h4>
<h5 style='text-align:center'>The primary goal of this project was to gain a good understanding of the document object model, and the difficulty of managing the DOM manually in a complex application, motivating Project 2.</h5>
</div>
<hr>
<div class="container-fluid">
<app-project dataKey='project1'></app-project>
</div>